body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
img,
a,
span {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #2d4059;
  color: #ffd460;
}

button,
a {
  cursor: pointer;
}

.container {
  width: 1240px;
  margin: 0 auto;
}
