<header class="header">
    <div class="header__logotype">
        TweetMe
    </div>
    <nav class="header__navbar">
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/global/">Tweets</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="/profile/{{request.user.username}}">Profile</a></li>
            <li><a href="/logout/">Logout</a></li>
            {% else %}
            <li><a href="/register/">Registration</a></li>
            <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>