.profile {
  background-color: #f07b3f;
  border-radius: 15px;
  height: 20vh;
  display: grid;
  align-items: center;
  grid-template-columns: 80% 20%;
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    button + button {
      margin-top: 10px;
    }
    button {
      padding: 5px 0;
      width: 150px;
      border: none;
      outline: none;
      font-size: 16px;
      color: #ea5455;
      font-weight: 500;
      background-color: #2d4059;
    }
    button:hover {
      color: #ffd460;
    }
  }
  &__badge {
    display: grid;
    grid-template-columns: 20% 80%;
    &__main {
      background-color: #2d4059;
      border-radius: 10px;
      padding: 5px 0;
      display: flex;
      flex-direction: column;
      &-followers {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: space-around;
        height: 60px;
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #ea5455;
            font-weight: 700;
            background-color: #2d4059;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #ea5455;
          }
        }
      }
      &-data {
        display: flex;
        justify-content: space-between;
        &-username {
          margin-right: 10px;
        }
        &-fullname {
          color: #ea5455;
          font-weight: 700;
          margin-left: 10px;
        }
      }
      &-avatar {
        display: flex;
        justify-content: center;
        img {
          width: 90px;
          height: 90px;
          border: 2px solid #2d4059;
          border-radius: 45px;
        }
      }
    }
  }
}
